In [2]:
import pandas as pd

In [3]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [4]:
# Call the function
say_hello()

Hello!

In [5]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [6]:
say_something("Hello World")

Hello World

In [7]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [9]:
# A list of my grades.
my_grades = ['B', 'C', 'B', 'D']

In [10]:
# convert the my_grades to a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [13]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [14]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print('{:.0f}'.format(grade))

92
85
87
98

In [15]:
# convert the numerical grades to a series
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [16]:
# Format the grades to the nearest whole number percent.
my_grades.map('{:.0f}'.format)

0    92
1    85
2    87
3    78
dtype: object

In [19]:
class Cat:
    def __init__(self, name):
        self.name = name

In [20]:
first_cat = Cat("Felix")
print(first_cat.name)

Felix

In [22]:
second_cat = Cat("Tom")
print(second_cat.name)

Tom

In [23]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
        
    def bark(self):
        return self.sound + ' ' + self.sound

In [24]:
first_dog = Dog('Eleanor', 'Black', 'woof!')
print(   first_dog.name)
print(first_dog.color)
first_dog.bark()

Eleanor
Black

'woof! woof!'